<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eMFProject -->
      <package
            uri="http://www.example.org/eMFProject"
            class="eMFProject.EMFProjectPackage"
            genModel="model/eMFProject.genmodel"/>
   </extension>

</plugin>
